@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.profile {
  &__wrapper {
    height: 100vh;
    width: 100vw;
  }

  &__left {
    display: flex;
    height: 9rem;
    background-color: $color-accent-1;
    align-items: flex-end;
  }

  &__right {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: $pad-margin-between $pad-margin;
  }

  &__title {
    align-self: center;
    padding-bottom: $pad-margin-between;
    @include typo-h4;
  }
  &__form {
    display: flex;
    flex-direction: column;

    &-label {
      @include typo-links;
    }
    &-input {
      height: 2.25rem;
      border-radius: 10px;
      border: none;
      background-color: $color-input-background;
      margin-bottom: $pad-margin-between;
      padding: $pad-margin-between;

      &::placeholder {
        padding: $pad-margin-between;
      }
    }

    &-button {
      height: 2.25rem;
      border-radius: 10px;
      border: none;
      background-color: $color-primary;
      margin: $pad-margin-between 0;
      color: $color-off-white;
      @include typo-h6;

      &-logout {
        height: 2.25rem;
        border-radius: 10px;
        border: none;
        background-color: $color-label;
        margin: $pad-margin-between 0;
        color: $color-off-white;
        @include typo-h6;
      }
    }
  }
}

@include medium {
  .profile {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__left {
      display: flex;
      height: 9rem;
      min-height: 5rem;
      background-color: $color-accent-1;
      align-items: center;
    }

    &__right {
      height: 90%;
      min-height: 5%;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: $pad-margin-between $pad-margin;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    &__form {
      width: 20rem;
      height: 25rem;
    }
  }
}
