@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.home {
  background-image: url("../../assets/images//Martina-Crepulja-moss-and-fog-6.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100vh;
  width: 100vw;

  &__left {
    display: flex;
    height: 9rem;
  }

  &__right {
    flex-direction: column;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: $pad-margin-between $pad-margin;
  }

  &__title {
    padding: 5.438rem 0 0 $pad-margin-between;
    @include typo-h5;
    color: $color-off-white;
  }

  &__text {
    padding: 0 0 0 $pad-margin-between;
    @include typo-h5;
    color: $color-off-white;
  }
  &__name {
    padding-left: $pad-margin-between;
    @include typo-h1;
    color: $color-off-white;
  }
}

@include medium {
  .home {
    &__title {
      padding: 5.438rem 0 0 2.438rem;
      @include typo-h4;
      color: $color-off-white;
    }
    &__text {
      padding: 0 0 0 2.438rem;
      @include typo-h4;
      color: $color-off-white;
    }
    &__name {
      padding-left: 2.438rem;
      @include typo-h1;
      color: $color-off-white;
    }
  }
}
