@use "./variables" as *;

/** Add fonts **/
@font-face {
  font-family: "Axiforma";
  src: url("../../assets/fonts/Axiforma-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Axiforma";
  src: url("../../assets/fonts/Axiforma-SemiBold.ttf") format("TrueType");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Axiforma";
  src: url("../../assets/fonts/Axiforma-Bold.ttf") format("TrueType");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Axiforma";
  src: url("../../assets/fonts/Axiforma-ExtraBold.ttf") format("TrueType");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
