@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.myflights-card {
  margin-bottom: $pad-margin-between;
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid $color-line;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: $pad-margin-between;
    padding: $pad-margin-between;
    box-shadow: 5px 5px 20px $color-placeholder;

    &:hover {
      background-color: $color-background;
    }
  }

  &__flight-name {
    @include typo-h5;
    padding: $pad-margin-between 0;
    color: $color-title;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  &__info {
    width: 50%;
    padding: 1rem 1rem 0;
  }

  &__title {
    @include typo-h6;
    color: $color-primary;
  }

  &__text {
    @include typo-linkxs;
    color: $color-body;
  }

  &__name {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__delete {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 1rem 1rem 2rem;
  }
  &__icon {
    width: 1.5rem;
  }
  &__headers-past-flights,
  &__headers-myflights {
    display: none;
  }

  &__action {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: $pad-margin-between;
    height: 3rem;
    background-color: $color-input-background;
    border-radius: 10px;
    margin-top: $pad-margin-between;
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
    }
  }

  &__icon {
    width: 1.5rem;
    transition: 0.2s;

    &:hover {
      width: 2rem;
    }
  }
}

@include medium {
  .myflights-card {
    width: 100%;
    padding: 1rem 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    &__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border-bottom: none;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      padding: $pad-margin-between;
    }

    &__info {
      padding: 0;
      width: 20%;
      text-align: left;
    }

    &__title {
      display: none;
    }

    &__headers-myflights,
    &__headers-past-flights {
      display: flex;
      height: 2.5rem;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      border-radius: 10px;
    }

    &__label-myflights {
      display: flex;
      height: 2.5rem;
      background-color: $color-accent-1;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      justify-items: center;
      border-radius: 10px;
      padding: $pad-margin-between;
    }

    &__label-past-flights {
      @extend .myflights-card__label-myflights;
      background-color: $color-accent-4;
    }

    &__label-item {
      display: flex;
      align-items: center;
      width: 11rem;
    }

    &__label-title {
      @include typo-h6;
      color: $color-off-white;
    }
  }
}
