@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixin" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography";

.login {
  &__wrapper {
    height: 100vh;
    width: 100vw;
  }

  &__left {
    display: flex;
    height: 50%;
    background-color: $color-accent-3;
    align-items: flex-end;
  }

  &__image {
    width: 100%;
    max-height: 17rem;
    padding-bottom: $pad-margin-between;
  }

  &__right {
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: $pad-margin-between $pad-margin;
  }

  &__title {
    align-self: center;
    padding-bottom: $pad-margin-between;
    @include typo-h4;
  }
  &__form {
    display: flex;
    flex-direction: column;

    &-label {
      @include typo-links;
    }
    &-input {
      height: 2.25rem;
      border-radius: 10px;
      border: none;
      background-color: $color-input-background;
      margin-bottom: $pad-margin-between;
      padding: $pad-margin-between;

      &::placeholder {
        padding: $pad-margin-between;
      }
    }

    &-password-reset {
      @include typo-linkxs;
      padding-bottom: $pad-margin;
      align-self: flex-end;
      color: $color-primary;
    }

    &-button {
      height: 2.25rem;
      border-radius: 10px;
      border: none;
      background-color: $color-primary;
      margin-bottom: $pad-margin-between;
      color: $color-off-white;
      @include typo-h6;
    }
  }
  &__google-button {
    display: flex;
    height: 2.25rem;
    border-radius: 10px;
    border: 2px $color-line solid;
    background-color: $color-off-white;
    margin-bottom: $pad-margin-between;
    color: $color-label;
    @include typo-h6;
    align-items: center;
    justify-content: center;

    &-image {
      padding-right: $pad-margin-between;
    }
  }
}

@include medium {
  .login {
    &__wrapper {
      display: flex;
    }
    &__left {
      display: flex;
      height: 100%;
      min-width: 40%;
      background-color: $color-accent-3;
      align-items: center;
    }

    &__right {
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: column;
      padding: $pad-margin-between $pad-margin;
      justify-content: center;
      align-items: center;
    }

    &__form {
      width: 65%;
    }

    &__google-button {
      width: 65%;
    }
  }
}
